/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
  font-family: "HelveticaNeue", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  font-weight: normal;
}

h1 {
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: -2px;
}

.desc {
  color: var(--global-theme-color);
  font-weight: bold;
}

.nav-link {
  font-weight: bold !important;
}

.clearfix {
  margin-top: 40px;
  margin-bottom: 120px;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

a {
  color: var(--global-theme-color);

  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }

  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

figure,
img {
  max-width: 90vw;
}

// Card

.card {
  background-color: var(--global-card-bg-color);

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Profile

.profile {
  width: 100%;
}

.profile.float-right {
  margin-left: 1rem;
}

.profile.float-left {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .profile {
    width: 27%;
  }
}

// Navbar customization

.navbar {
  box-shadow: none;
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar.navbar-light {
 
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    font-weight: bold;
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-nav .nav-item .nav-link {
    font-size: larger;
    color: var(--global-text-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }

  .navbar-nav .nav-item.active>.nav-link {
    background-color: inherit;
    font-weight: bolder;
    color: var(--global-theme-color);

    &:hover {
      color: var(--global-hover-color);
    }
  }
}

.navbar-toggler {
  
  border-color: transparent !important;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

// Social (bottom)

.social {
  text-align: center;

  .contact-icons {
    font-size: 4rem;

    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }

      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

// Footer
footer.sticky-bottom {
  // background-color: var(--global-footer-bg-color);
  background-color: var(--global-theme-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

// Projects

.projects {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.bibliography {
    color: var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: right;
    font-weight: bold !important;
    letter-spacing: -1px;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .title {
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: -0.2px;
      }

      .subtitle {
        font-style: italic;
      }

      .links {
        padding-top: 12px;
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.25rem;
          margin-left: 0;
        }
      }
    }
  }
}