:root {
  --global-bg-color: #{$off-white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$nasa-red};
  --global-hover-color: #{$nasa-red};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{$white-color};
}