// Colors

$nasa-red:            #e10027 !default;
$off-white-color:     #FAF9F6 !default;
$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$swift-color:         #f05138;
$python-color:        #4570a0;

$white-color: #ffffff !default;
$black-color: #000000 !default;